/* Hide From and To columns */
/* Hide From and To columns: keep only first cell */
._3_ygE ._1nBOt > *:nth-child(n+2),
._3ZbQT ._34SS0 > *:nth-child(n+2) {
  display: none !important;
}
._3_ygE ._1nBOt ._WuQ0f:nth-child(3),
._3ZbQT ._34SS0 ._3lLk3:nth-child(2),
._3ZbQT ._34SS0 ._3lLk3:nth-child(3) {
  display: none !important;
}
._3_ygE > ._1nBOt > ._WuQ0f:nth-child(2),
._3_ygE > ._1nBOt > ._WuQ0f:nth-child(3),
._3ZbQT > ._34SS0 > ._3lLk3:nth-child(2),
._3ZbQT > ._34SS0 > ._3lLk3:nth-child(3) {
  display: none !important;
}
